<!DOCTYPE html>
 
<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/Font/fontawesome/css/all.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
