
@{
    ViewData["Title"] = "GetData";
}

<div class:"panel panel-default">

<div  style="text-align:center;direction:rtl;">
  <div class="card-body" style="font-family:'iran sans'; direction:rtl;text-align:right">
      @{
    <p>@ViewBag.Name</p>
    <p>@ViewBag.Family</p>
    <p>@ViewBag.Phone</p>
    <p>@ViewBag.Address</p>
      }
  </div>
</div>

</div>