@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
</div>

<br />


<div style="direction:rtl; text-align:right; font-family:'IRAN Sans';">
<form  asp-action="Search" asp-controller="Home" method="get">
    <div >
        <input name="SearchedPerson"  class="form-control" type="text" placeholder="جستجوی افزاد بر اساس شماره تلفن، نام، آدرس"/>
        <input type="submit" name="Search" value="جستجو" class="form-control btn-outline-success " style="width:100%; padding-top:5px;"/> 
    </div>
</form>
</div>