@{
    ViewData["Title"] = "Home Page";
}


        <br />
        <br />
        <br />
        <div class="text-center mt-5 mb-2">
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"/>
</div>
<br />
<div class="">
    <div class="row">

        <div class="col-md-12">
            <div class="d-flex justify-content-center" style="direction:rtl;  font-family:'IRAN Sans';">
                <form   asp-action="Search" asp-controller="Home" method="get">
                <input style="border-radius:20px; width:90vh;" name="SearchedPerson"  class="form-control" type="text" placeholder="جستجوی افزاد بر اساس شماره تلفن، نام، آدرس"/>
                <div class="d-flex justify-content-center ">
                    <input style="" type="submit" name="Search" value="جستجو" class="search-btn btn"/> 
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



