@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    
<p class="info">People Searched</p>
<div class="col-md-5 align-content-center">
    <p>@ViewBag.Name</p>
    <p>@ViewBag.Family</p>
    <p>@ViewBag.PhoneNumber</p>
    <p>@ViewBag.Address</>
</div>


</div>