@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="direction:rtl; text-align:center">
    
<ul class="list-group">
  <li class="list-group-item active">@ViewBag.Name</li>
  <li class="list-group-item">@ViewBag.Family</li>
  <li class="list-group-item">@ViewBag.PhoneNumber</li>
  <li class="list-group-item">@ViewBag.Address</li>
</ul>
</div>