@model List<Person> 

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div dir="rtl" >
    <div class="header">
      <div class="d-flex justify-content-end" >
          <form asp-action="Search" asp-controller="Home" method="get">
            <input  Name="SearchedPerson" type="text" placeholder="search" class="search-page-bar" />
          </form>
          <a asp-action="index"> <img class="search-page-logo" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="google logo"/></a>
      </div>
    </div>
<div class="row mt-4">
@{
    foreach(var item in Model)
    {   

            <div class="col-md-10 ">
                <ul class=" list-unstyled">
                    <li>
                    <ul class="d-flex list-unstyled">
                    <li class="name text-primary"><h4>@item.Family</h4></li>
                    <li class=" text-primary"><h4>@item.Name</h4></li>
                    </ul>
                    </li>
                    <li  class="align">@item.PhoneNumber</li>
                    <li  class="align">@item.Address</li>
                </ul>
            </div>

    }
}
</div>
</div>
